<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <div class="social-buttons">        
        <!-- facebook  Button -->
                <a href="http://www.facebook.com" target="blank" class="social-margin"> 
                  <div class="social-icon facebook">
                    <i class="fa fa-facebook" aria-hidden="true"></i> 
                  </div>
                </a>
               
              <!-- Github Button -->
                <a href="https://github.com/lovetyagi-17"  target="blank"  class="social-margin">
                  <div class="social-icon github">
                    <i class="fa fa-github-alt" aria-hidden="true"></i>
                  </div>
                </a>
                <!-- Youtube Button -->
                <a href="http://youtube.com/home" target="blank"  class="social-margin">
                  <div class="social-icon youtube">
                    <i class="fa fa-youtube" aria-hidden="true"></i>
                  </div> 
                </a>
      
          <!-- TwitterButton -->
                <a href="http://twitter.com" target="blank" class="social-margin">
                  <div class="social-icon twitter">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                  </div> 
                </a>
        </div>
        <footer>
          <!-- Copyright-->
          <div class="footer-copyright py-3 text-center">
          © 2020 Copyright:
            <a href="http://localhost:4200/">
            <strong> Solnexis.com</strong>
          </a>
          </div> 
        <!--/.Copyright -->
        </footer>
        </div>

        
</body>
</html>




<!-- <section class="footer">
  <footer id="footer" class="page-footer unique-color-dark mt-4">
    <div class="info-color-dark text-center py-4"> -->
      <!--GitHub-->
      <!-- <a rel="nofollow" target="_blank" class="border rounded p-2 px-3 mr-4 d-none d-md-inline-block" id="footer-link-github" href="https://github.com/lovetyagi-17">
        <i class="fas fa-envelope white-text ml-2">--GitHub--</i>
      </a> -->
      <!--Youtube-->
      <!-- <a rel="nofollow" target="_blank" class="border rounded p-2 px-3 mr-4 d-none d-md-inline-block" id="footer-link-youtube" href="https://www.youtube.com">
        <i class="fas fa-envelope white-text ml-2" >--Youtube--</i>
      </a> -->
    
      <!--Twitter-->
      <!-- <a rel="nofollow" target="_blank" class="border rounded p-2 px-3 mr-4 d-none d-md-inline-block" id="footer-link-twitter" href="https://twitter.com">
        <i class="fas fa-envelope white-text ml-2">--Twitter--</i>
      </a>
    </div> -->
  
    <!-- Copyright-->
    <!-- <div class="footer-copyright py-3 text-center">
      © 2020 Copyright:
      <a href="http://localhost:4200/">
        <strong> Solnexis.com</strong>
      </a>
    </div> -->
    <!--/.Copyright -->
  <!-- </footer>
</section> -->
    


