<section class='content'>

	<section class='sixth_banner'>
		<div class="banner1">
			<p class='b1text'>JOIN US AND GROW<br>
				<font class='b1subtext'>You don't have to be great to start, but you have to start to be great </font></p>
			<div class='button'></div>
		</div> 
	</section>

	<section class='second_banner'>
		<p class="b2text">ABOUT US</p>
		<p class='b2subtext'>The solnexis concept was born out of 10+ years of struggling to build a small, minority-owned business in the fuel industry<br>
		The founder of Solnexis started a company after attending  a seminar on government contractiong. with very little cash and a <br>
	couple of industry insiders as mentor. <font style="color:rgb(221, 88, 47)">Read more...</font></p>
	</section>

</section>