<nav class="navbar navbar-b navbar-expand-md fixed-top navbar-trans navbar-reduce" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll" href="#">
      <img src="../../assets/Images/logo.png" alt="" class="d-inline-block align-middle"></a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <div class="navbar-collapse justify-content-end collapse" id="navbarDefault">
      <ul class="nav flex-row justify-content-center">
        <li class="nav-item">
          <a class="nav-link" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/signup">Signup</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div id="home" class="intro route bg-image" style="background-image: url(../../assets/Images/background3.jpg)">
  <div class="overlay-itro"></div>
  <div class="intro-content display-table">
    <div class="table-cell">
      <div class="container">
        <!--<p class="display-6 color-d">Hello, world!</p>-->
        <h1 class="intro-title mb-4">WELCOME TO SOLNEXIS</h1>
        <p class="intro-subtitle"><span class="text-slider-items"></span></p>
        <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
      </div>
    </div>
  </div>
</div>
<footer>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="copyright-box">
        <p class="copyright">© Copyright <strong>smartData Eterprises</strong><br> All Rights Reserved</p>
        </div>
    </div>
  </div>
</div>
</footer>