<section class='header'>
			
	<section class='top_bar'>
		<ul>
			<li><img src='../../assets/Images/icon-mail.png'></li>
			<li><a href="#news">Login</a></li>
			<li>|</li>
			<li><img src='../../assets/Images/contact_us.png'></li>
			<li><a href="#news">Contact Us</a></li>
		  </ul>
	</section>


	<section class='nav_bar'>
		<ul class="logo">
			<img src="../../assets/Images/logo.png">
		</ul>
		<ul class="nav_menus">
			<li><a href="#home">HOME</a></li>
			<li><a href="#about">ABOUT SOLNEXIS</a></li>
			<li><a href="#why">WHY SOLNEXIS</a></li>
			<li><a href="#sub">SUBSCRIPTIONS</a></li>
			<li><a href="#test">TESTIMONIALS</a></li>
			<li><a href="#faq">FAQ</a></li>
		  </ul>
	</section>

</section>
